<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &#x2935;</b>
</a>
<a href="/" style="float:right;">
    <b>ГЛАВНАЯ &#x2935;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getProduct().getId()}"></img>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getProduct().getName()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getProduct().getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getProduct().getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/item/'+item.getProduct().getId()}" method="post">
                            <button th:if="${item.getCount() > 0}" name="action" value="minus">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">X</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!items.isEmpty()}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>